@model asp_net_crud.Models.AddEmployeeViewModel
@{
}
<form method="POST" action="Add">
    <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="Name">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" asp-for="Email">
        <label for="salary" class="form-label">Stipendio</label>
        <input type="number" class="form-control" aria-describedby="emailHelp" asp-for="Salary">
        <label for="dateOfBirth" class="form-label">Data di nascita</label>
        <input type="date" class="form-control" aria-describedby="emailHelp" asp-for="DateOfBirth">
        <label for="department" class="form-label">Reparto</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" asp-for="Department">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>